@{
    ViewBag.Title = "Về jvnet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ctl00_divAlt1" class="altcontent1 container cmszone">


    <div class='row Module Module-141'>
        <ol class='breadcrumb'>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='index.html' class='itemcrumb' itemprop='url'><span itemprop='title'>Trang chủ</span></a></li>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='ve-jvnet.html' class='itemcrumb active' itemprop='url'><span itemprop='title'>Về JVNet</span></a></li>


        </ol>
    </div>

</div>
<main class="main container">
    <section class="row">

        <div id="ctl00_divCenter" class="col-md-9 col-main">

            <div class='Module Module-88'>
                <div class='ModuleContent'>
                    <div id="ctl00_mainContent_ctl00_ctl00_pnlInnerWrap">



                        <div class="about-us clearfix">
                            <h1 class="title-page">Về JVnet</h1>
                            <div class="content mrb40" id="part-1">
                                <h2>Thông tin công ty XKLĐ Nhật Bản uy tín</h2>
                                <div class="desc clearfix">
                                    <div class="row">
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Tên công ty :</em> Công Ty Cổ Phần Thương Mại Phát Triển Kỹ Thuật và Nhân Lực Quốc Tế.</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Tên giao dịch :</em> International Human Resources Trading and Technology Development Joint Stock Company.</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Tên viết tắt :</em> JVNET.,JSC</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Ngày thành lập :</em> 09/09/2005</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Trụ sở chính :</em> Số 30 đường Trần Cung, Bắc Từ Liêm, Thành phố Hà Nội</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Văn phòng giao dịch tại Hà Nội :</em> Tòa nhà ND, số 17, ngõ 82, Dịch Vọng Hậu, Cầu Giấy, Hà Nội</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Điện thoại :</em> 0243-755-6251</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Văn phòng đại diện tại Đà Nẵng :</em> Số 418 Tôn Đức Thắng, Liên Chiểu, Đà Nẵng</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Điện thoại :</em> 023-6361-1568</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Văn phòng đại diện tại TP HCM :</em> Số 21- 23 Đường 59 (giao với đường Lê Hiến Mai), Phường Thạnh Mỹ Lợi, Quận 2, TP Hồ Chí Minh</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Điện thoại :</em> 028-6294-8869</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Email :</em> info@jvnet.com.vn</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Vốn pháp định:</em> 5.000.000.000 VNĐ</span></p>
                                        <p class="col-sm-6 mrb20" style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><em>• Giấy phép hoạt động dịch vụ đưa Người lao động Việt Nam đi làm việc ở nước ngoài :</em> số 160/BLĐTBXH-GP do Bộ Lao động Thương binh và Xã hội cấp ngày 03/10/2008.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="content mrb40" id="part-2">
                                <h2>Giới thiệu về JVNET</h2>
                                <div class="desc clearfix">
                                    <div class="row">
                                        <p style="text-align: justify;"><span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Công Ty Cổ Phần Thương Mại Phát Triển Kỹ Thuật và Nhân Lực Quốc Tế (tên viết tắt JVNET) là doanh nghiệp ngoài quốc doanh được thành lập từ tháng 9 năm 2005. </span></p>
                                        <p style="text-align: justify;"><span style="line-height: 1.42857; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Trải qua 15 năm hình thành phát triển, JVNET tự hào là doanh nghiệp hàng đầu Việt Nam trong lĩnh vực đào tạo và phái cử kỹ sư, thực tập sinh sang Nhật Bản học tập và làm việc. Mỗi năm JVNET phái cử khoảng 1500 người đi làm việc, tu nghiệp tại Nhật Bản. Hiện nay, JVNET đang quản lý trên 4000 kỹ sư, thực tập sinh đang làm việc, tu nghiệp.&nbsp;</span></p>
                                        <p style="text-align: justify;"><span style="text-align: left; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Ngày 8/3/2017&nbsp;Công ty JVNET vinh dự được nhận Bằng khen “Doanh nghiệp xuất sắc trong hoạt động đưa Người lao động Việt Nam đi làm việc ở nước ngoài theo hợp đồng giai đoạn 2011-2016”.</span></p>
                                        <p style="text-align: justify;"><span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Ngày 22/7/2020 JVNET một lần nữa được đón nhận bằng khen của Hiệp hội xuất khẩu lao động Việt Nam vì đã có thành tích xuất sắc đưa lao động Việt Nam đi làm việc ở nước ngoài giai đoạn 2015-2020.</span></p>
                                        <p style="text-align: justify;">
                                            <span style="line-height: 1.42857; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="line-height: 1.42857; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/cong-ty-jvnet-ha-noi.jpg" alt="công ty JVNET" title="thông tin công ty xklđ JVNET" longdesc="%c4%91%e1%bb%8ba%20ch%e1%bb%89%20c%c3%b4ng%20ty%20JVNET.html" /><br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;"><span style="line-height: 1.42857; font-size: 14px; font-family: Tahoma; color: #0c0c0c;">Văn phòng công ty JVNET tại Hà Nội 82/17 Dịch Vọng Hậu</span></p>
                                        <p style="text-align: justify;"><span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Trong những năm qua, JVNET luôn cung ứng nguồn lao động có chất lượng cho các đối tác và chủ sử dụng lao động đồng thời cam kết đảm bảo mức lương, thu nhập, các quyền và lợi ích hợp pháp cho người lao động làm việc tại Nhật Bản.</span></p>
                                        <p style="text-align: justify;"><span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">JVNET liên tục tổ chức tuyển chọn, đào tạo ngoại ngữ, chuyên môn, tay nghề và kiến thức văn hoá cần thiết cho mọi đối tượng từ lao động phổ thông đến lao động kỹ thuật và chuyên gia đáp ứng yêu cầu về nhân lực của các doanh nghiệp cũng như các tập đoàn lớn tại Nhật Bản.</span></p>
                                        <p style="text-align: center;">
                                            <span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/cong-ty-xkld-nhat-ban-uy-tin-jvnet-hanoi.jpg" alt="trung tâm tiếng Nhật JVNET" title="trung tâm tiếng Nhật JVNET" longdesc="trung%20t%c3%a2m%20ti%e1%ba%bfng%20Nh%e1%ba%adt%20JVNET.html" /><br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;"><span style="font-size: 14px; font-family: Tahoma; color: #0c0c0c;">Trung tâm đào tạo XKLĐ uy tín JVNET tại xã Trung Hậu Huyện Mê Linh, Hà Nội</span></p>
                                        <p style="text-align: justify;"><span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;"><span style="font-size: 16px;">Song song với các dịch vụ, JVNET còn có thường xuyên tổ chức các chương trình hỗ trợ người lao động như hỗ trợ trả góp lãi suất 0%, miễn phí gói khám sức khỏe, hỗ trợ phí đào tạo,.... Người lao động luôn được quan tâm, tạo điều kiện và quản lý tốt nhất từ quá trình tuyển dụng cho đến khi làm việc ở nước ngoài.&nbsp;</span><span style="text-align: left; font-size: 16px;">Chúng tôi luôn có các đầu mối liên lạc, kịp thời giúp đỡ và sẵn sàng giải quyết các vấn đề vướng mắc của người lao động trong thời gian học tập và thực hiện hợp đồng lao động ở Nhật Bản. JVNET luôn mong muốn được hợp tác với các bạn hàng và những nghiệp đoàn quan tâm giới thiệu việc làm, đi tu nghiệp, xuất khẩu lao động để cùng phát triển.</span></span></p>
                                        <p style="text-align: justify;">
                                            <span style="font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;">
                                            <span style="text-align: left; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                <img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/trung-tam-dao-tao-jvnet.jpg" alt="trung tâm xuất khẩu lao động Nhâth Bản" title="trung tâm xuất khẩu lao động Nhâth Bản" longdesc="trung%20t%c3%a2m%20xu%e1%ba%a5t%20kh%e1%ba%a9u%20lao%20%c4%91%e1%bb%99ng%20Nh%c3%a2th%20B%e1%ba%a3n.html" /><br />
                                            </span>
                                        </p>
                                        <p style="text-align: center;"><span style="text-align: left; font-size: 14px; font-family: Tahoma; color: #0c0c0c;">Bức ảnh lưu niệm của các thầy cô tại trung tâm nhân ngày 20/11</span></p>
                                        <p style="text-align: justify;"><span style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">Lấy sự phục vụ tận tâm làm nền tảng hoạt động, JVNET luôn khai thác những đơn hàng đảm bảo nhất với chi phí hợp lý nhất và cung cấp những lao động ưu tú nhất với thời gian nhanh nhất để tạo nên thương hiệu lớn nhất tại Việt Nam. JVNET luôn nỗ lực phấn đấu để trở thành cầu nối đáp ứng mọi nhu cầu về việc làm cho người lao động!</span></p>
                                        <p style="text-align: justify;">
                                            <span style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                Với tiêu chí luôn luôn cung cấp nguồn lao động có chất lượng cho đối tác, chủ sử dụng lao động cũng như cam kết đảm bảo mức lương, các quyền và lợi ích hợp pháp cho người lao động. Công ty XKLĐ JVNET luôn cố vươn lên những tầm cao mới, khẳng định được thương hiệu uy tín trong lĩnh vực cung ứng nguồn nhân lực. Doanh nghiệp gắng nỗ lực hết mình để làm hài lòng đối tác, cổ đông và người lao động. Đây cũng là cơ sở để JVNET xứng đáng thuộc một trong những công ty hàng đầu trong lĩnh vực cung ứng nguồn lao động cho các đối tác ở Nhật Bản. Với những thành công mà JVNET đã đạt được trong 15 năm qua, JVNET tự hào là một địa chỉ uy tín và đúng đắn cho người lao động. Sau đây là những lý do bạn nên chọn JVNET:<br />
                                                - JVNET là công ty uy tín, là thương hiệu tin cậy cho người lao động&nbsp;
                                            </span>
                                        </p>
                                        <p style="text-align: justify;">
                                            <span style="font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important; font-family: Tahoma; font-size: 16px; color: #0c0c0c;">
                                                + Công ty đã có kinh nghiệm trên 15 năm hoạt động trong lĩnh vực xuất khẩu lao động đưa người sang thị trường Nhật Bản.
                                            </span>
                                        </p>
                                        <p style="text-align: justify;">
                                            <span style="font-family: Tahoma;">
                                                <br />
                                            </span>
                                        </p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-family: Tahoma; font-size: 16px;"><img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/cong-ty-xuat-khau-lao-dong-nhat-uy-tin.jpg" width="600" height="400" alt="công ty xuất khẩu lao động uy tín nhất" /></span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-size: 14px; font-family: Tahoma;">Công ty JVNET kỷ niệm 15 năm thành lập&nbsp;</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">+ Công ty được nhận nhiều bằng khen từ Bộ lao động thương binh và xã hội, từ hiệp hội xuất khẩu lao động Việt Nam.</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-family: Tahoma; font-size: 16px;"><img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/bang-khen-jvnet.jpg" width="600" height="400" alt="công ty XKLD Nhật bản uy tín" /></span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-size: 14px; font-family: Tahoma;">Bằng khen của hiệp hội xuất khẩu lao động Việt Nam trao tặng công ty JVNET&nbsp;</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">+ Số lượng lao động Việt Nam đã xuất cảnh sang Nhật qua công ty JVNET tới nay lên tới con số trên 15,000 người.</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;">
                                            <span style="font-family: Tahoma; font-size: 16px;">
                                                <br />
                                            </span>
                                        </p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-size: 14px; font-family: Tahoma;"><img src="~/Assets/pages/Data/Sites/1/media/bai-viet-chinh/thuctapsinh-jvnet.jpg" width="600" height="400" alt="làm thủ tục xuất cảnh sang Nhật" /></span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: center;"><span style="font-size: 14px; font-family: Tahoma;">Đoàn thực tập sinh của công ty JVNET tại sân bay quốc tế Nội Bài trước khi xuất cảnh</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;">
                                            <span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">
                                                <span style="box-sizing: border-box; text-align: right; font-size: 16px;">- Đến với JVNET, người lao động sẽ được đào tạo trong một môi trường thân thiện, trang bị vật chất và cơ sở học đầy đủ. Đội ngũ giảng viên có nhiều kinh nghiệm với chuyên môn vững vàng và tận tâm trong việc đào tạo nguồn nhân lực.</span><br style="box-sizing: border-box;" />
                                            </span>
                                        </p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">- JVNET luôn khai thác những đơn hàng có chất lượng nhằm mang đến cho người lao động những công việc có thu nhập cao, đảm bảo cuộc sống ổn định.</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">- Luôn có những chính sách hỗ trợ cho người lao động khi làm việc tại Nhật Bản, luôn đồng hành cùng với người lao động trong mọi hoàn cảnh.&nbsp;</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; text-align: right; font-family: Tahoma; font-size: 16px;">- JVNET luôn cam kết đảm bảo sẽ giới thiệu việc làm cho người lao động sau khi về nước.&nbsp;</span></p>
                                        <p style="box-sizing: border-box; margin: 0px 0px 10px; color: #333333; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; text-align: justify;"><span style="box-sizing: border-box; font-family: Tahoma; font-size: 16px;">Với phương châm “Tận tâm phục vụ để mang đến những chất lượng hoàn hảo cho người lao động”, JVNET tự hào là cầu nối tin cậy, đáp ứng mọi nhu cầu về việc làm cho người lao động.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="content mrb40" id="part-3">
                                <h2>Tầm Nhìn - Sứ Mệnh</h2>
                                <div class="desc clearfix">
                                    <div class="row">
                                        <div class="col-sm-6 mrb20">
                                            <div class="text-center">
                                                <p>
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                        <em class="fa fa-location-arrow">
                                                        </em>
                                                    </span>
                                                </p>
                                                <div style="text-align: justify;"></div>
                                                <em class="fa fa-location-arrow">
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                    </span>
                                                </em>
                                                <p>&nbsp;</p>
                                                <h4 style="text-align: center;"><span style="font-size: 16px; font-family: Tahoma;">Tầm Nhìn</span></h4>
                                            </div>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Xây dựng JVNET trở thành công ty cung ứng nguồn lao động hàng đầu tại Việt Nam. </span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Cung cấp nhân lực có chất lượng cho đối tác Nhật Bản</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Định hướng cho thế hệ trẻ khởi nghiệp vững vàng, đáp ứng hoàn toàn về nguồn nhân lực có trình độ cho xã hội và hội nhập với Quốc tế.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Luôn hướng đến chinh phục mục tiêu phát triển bền vững và là sự lựa chọn hàng đầu cho các đối tác và người lao động.</span></p>
                                        </div>
                                        <div class="col-sm-6 mrb20 bd">
                                            <div class="text-center">
                                                <p>
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                        <em class="fa fa-users">
                                                        </em>
                                                    </span>
                                                </p>
                                                <div style="text-align: justify;"></div>
                                                <em class="fa fa-users">
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                    </span>
                                                </em>
                                                <p>&nbsp;</p>
                                                <h4 style="text-align: center;"><span style="font-size: 16px; font-family: Tahoma;">Sứ Mệnh</span></h4>
                                            </div>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Nỗ lực phấn đấu để xây dựng niềm tin bền vững với các đối tác và người lao động.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Mang lại những giá trị và sự hài lòng cho người lao động bằng  những đơn hàng có chất lượng tốt nhất với chi phí hợp lý.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Luôn đồng hành để bảo vệ quyền và lợi ích chính đáng của người lao động tại Nhật Bản.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">•  Tạo dựng một môi trường làm việc chuyên nghiệp, năng động và sáng tạo mà ở đó mỗi thành viên làm việc tận tụy hết mình, nơi hội tụ và phát triển nhân tài.</span></p>
                                        </div>
                                    </div>
                                    <div style="text-align: justify;">
                                        <span style="font-size: 16px; font-family: Tahoma;">
                                            <br />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content mrb40" id="part-4">
                                <h2>Giá Trị Cốt Lõi</h2>
                                <div class="desc clearfix">
                                    <div class="row">
                                        <div class="col-sm-8 mrb20">
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>1.</strong> Người lao động là tài sản có giá trị và là nguồn sức mạnh của JVNET. </span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>2.</strong> Đoàn kết chính là chất keo gắn kết, tập hợp các nguồn lực về con người và vật chất cùng hướng tới mục tiêu xây dựng JVNET trở thành công ty cung ứng nguồn lao động hàng đầu tại Việt Nam.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>3.</strong> Luôn lấy chữ tín, sự tận tâm với công việc nền tảng cho mọi hoạt động kinh doanh của JVNET.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>4.</strong> Lấy chất lượng làm cam kết với đối tác và người lao động.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>5.</strong> Luôn phấn đấu giữ vững và phát triển uy tín thương hiệu của JVNET.</span></p>
                                        </div>
                                        <div class="col-sm-4 mrb20 text-center">
                                            <span style="font-size: 16px; font-family: Tahoma;">
                                                <img alt="" src="~/Assets/pages/Data/Sites/1/media/hinhanh/hinh3.jpg" />
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content mrb40" id="part-5">
                                <h2>Lịch Sử Hình Thành</h2>
                                <div class="desc clearfix">
                                    <div class="row">
                                        <div class="col-sm-5 mrb20">
                                            <span style="font-size: 16px; font-family: Tahoma;">
                                                <img alt="" src="~/Assets/pages/Data/Sites/1/media/hinhanh/hinh4.jpg" />
                                            </span>
                                        </div>
                                        <div class="col-sm-7 mrb20">
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;"><strong>Tháng 9/2005,</strong> công ty cổ phần Thương mại Phát triển Kỹ thuật và nhân lực Quốc tế được thành lập.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">Trải qua 10 năm phát triển và trưởng thành, JVNET đã và đang từng bước khẳng định được vị thế của mình, tự hào là một trong số các doanh nghiệp uy tín hàng đầu Việt Nam trong lĩnh vực xuất khẩu lao động.</span></p>
                                            <p style="text-align: justify;"><span style="font-size: 16px; font-family: Tahoma;">Trải qua từng thời kỳ, với bao thăng trầm, vất vả trên con đường xây dựng thương hiệu JVNET, sự nỗ lực của tập thể cán bộ nhân viên cùng với sự tin tưởng của các đối tác đã góp phần thay đổi lớn về tầm vóc, vị thế cũng như uy tín của JVNET trong lĩnh vực cung ứng nguồn lao động cho thị trường Nhật Bản hiện nay.</span></p>
                                        </div>
                                    </div>
                                    <table style="text-align: justify;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                        <em class="fa fa-quote-left"></em>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span style="font-size: 16px; font-family: Tahoma;">
                                                        Trong tương lai, chúng tôi sẽ không ngừng phấn đấu để xứng đáng là địa chỉ tin cậy cho tất cả mọi người có ước mơ làm việc và học tập tại Nhật Bản.
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="text-align: justify;">
                                        <span style="font-size: 16px; font-family: Tahoma;">
                                            <br />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </div>
        <div id="ctl00_divRight" class="col-md-3 col-right cmszone">

            <div class='Module Module-153'>
                <div class='ModuleContent'>
                    <nav class="right-menu">
                        <h4>Về JVNet</h4>
                        <ul class="nav">
                            <li><a href="#part-1" target="_self"><i class="fa fa-angle-double-right"></i> Giới thiệu tổng quan</a></li>
                            <li><a href="#part-2" target="_self"><i class="fa fa-angle-double-right"></i> Giới thiệu</a></li>
                            <li><a href="#part-3" target="_self"><i class="fa fa-angle-double-right"></i> Tầm nhìn - Sứ mệnh</a></li>
                            <li><a href="#part-4" target="_self"><i class="fa fa-angle-double-right"></i> Giá trị cốt lõi</a></li>
                            <li><a href="#part-5" target="_self"><i class="fa fa-angle-double-right"></i> Lịch sử hình thành</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </section>
</main>
