@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ctl00_divAlt1" class="altcontent1 container cmszone">


    <div class='row Module Module-141'>
        <ol class='breadcrumb'>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='/' class='itemcrumb' itemprop='url'><span itemprop='title'>Trang chủ</span></a></li>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='/Home/Contact' class='itemcrumb active' itemprop='url'><span itemprop='title'>Liên hệ</span></a></li>


        </ol>
    </div>

</div>
<main class="main container">
    <section class="row">

        <div id="ctl00_divCenter" class="middle-fullwidth col-sm-12">

            <section class="clearfix contact-wrap">
                <div class='col-sm-12 Module Module-54'>
                    <div class='ModuleContent'>
                        <h1 class="title-page">
                            Liên hệ
                        </h1>
                    </div>
                </div><div class='col-md-4 col-sm-6 mrb20 Module Module-53'>
                    <div class='ModuleContent'>
                        <h2>1. Liên hệ về Chương trình Thực tập sinh kỹ năng Nhật Bản (Xuất khẩu lao động)</h2>
                        <p>Phụ trách: Lê Văn Hồng (Phòng Nghiệp vụ)</p>
                        <p>Email: v-hong@jvnet.com.vn</p>
                        <p>SĐT: 024 3748 1982</p>
                        <br />
                        <h2>2. Liên hệ về Chương trình du học Nhật Bản</h2>
                        <p>Phụ trách: Trần Văn Lợi</p>
                        <p>Email: v-loi@jvnet.com.vn</p>
                        <p>SĐT：024 3755 8480</p>
                        <br />
                        <h2>3. Liên hệ về Chương trình Kỹ sư làm việc tại Nhật Bản</h2>
                        <p>Phụ trách: Trần Phương Tâm</p>
                        <p>Email: tam.jvnet@gmail.com</p>
                        <p>SĐT: 024 3748 1982</p>
                        <br />
                    </div>
                </div>               
                <div class='col-md-4 col-sm-6 text-center mrb20 Module Module-147'>
                </div>
                <div class='col-md-6 col-sm-6 mrb20 Module Module-148'>
                <div class='ModuleContent'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.659501398719!2d105.78810631450513!3d21.046305985988894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab31d629837f%3A0x3e0c3a0cf76a9b72!2zQ8O0bmcgdHkgWHXhuqV0IGto4bqpdSBsYW8gxJHhu5luZyBOaOG6rXQgQuG6o24gLSBKVk5FVA!5e0!3m2!1svi!2s!4v1476932449796" width="100%" height="350" frameborder="0" style="border: 0px;"></iframe>
                    </div>
                </div>
                <div class='col-md-6 col-sm-12 mrb20 Module Module-149'>
                    <div class='ModuleContent'>
                        <h2>Công ty Cổ phần Thương mại Phát triển Kỹ thuật và Nhân lực Quốc tế (JVNET).</h2>
                        <p>Địa chỉ : 30 Trần Cung - Từ Liêm - Hà Nội</p>
                        <p>VPGD: Tòa nhà ND, số 17 ngõ 82, phố Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
                        <p>TEL: +84-243-7556251  </p>
                        <p>FAX: +84-243-7556254 </p>
                        <p>EMAIL: info@jvnet.com.vn</p>
                        <br />
                        <h2>Văn phòng đại diện tại tp Hồ Chí Minh</h2>
                        <p>Địa chỉ: Số 21-23 đường 59 ( giao với đường Lê Hiến Mai), phường Thạnh Mỹ Lợi, quận 2, TP.HCM</p>
                        <p>Điện thoại:028-62948878 / 028-62948869</p>
                        <p>Fax: 028-62948895</p>
                        <br />
                        <h2>Văn phòng JVNET tại Đà Nẵng.</h2>
                        <p>Địa chỉ: Địa chỉ : 418 Tôn Đức Thắng, Liên Chiểu, Đà Nẵng</p>
                        <p>Điện thoại: +84-23-63611568</p>
                        <br />
                    </div>
                </div>
            </section>

        </div>

    </section>
</main>