@{ 
    var lstMenus = (List<StudyAbroad.Web.Models.MenuViewModel>)ViewBag.listMenuViewModel;
}
<section id="Menu" class="collapse navbar-collapse">
    <div class='main-nav Module Module-42'>
        <div class='ModuleContent'>
            <nav>
                <ul>
                    @foreach (var item in lstMenus)
                    {
                        <li><a href="@item.URL" target="_self">@item.Name</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</section>