
@{
    ViewBag.Title = "Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ctl00_divAlt1" class="altcontent1 container cmszone">


    <div class='row Module Module-141'>
        <ol class='breadcrumb'>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='../index.html' class='itemcrumb' itemprop='url'><span itemprop='title'>Trang chủ</span></a></li>

            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='../quy-trinh.html' class='itemcrumb active' itemprop='url'><span itemprop='title'>Quy trình</span></a></li>


        </ol>
    </div>

</div>
<main class="main container">
    <section class="row">

        <div id="ctl00_divCenter" class="col-md-9 col-main">



            <div class='new Module Module-77'>
                <div class='ModuleContent'>
                    <div id="ctl00_mainContent_ctl00_ctl00_pnlInnerWrap">



                        <section class="news-detail">
                            <h1 class="title-page">Quy trình tuyển dụng thực tập sinh làm việc tại Nhật Bản của JVNET</h1>
                            <time>
                                <i class="fa fa-calendar">
                                </i> 13/01/2016
                            </time>
                            <div class="clearfix mrb20">
                                Nhằm giúp người lao động hiểu rõ hơn về chương trình thực tập sinh do công ty tổ chức, dưới đây là các bước quy trình chung mà người lao động phải thực hiện để có thể nhập cảnh làm việc tại Nhật Bản.
                                <div>
                                    &nbsp;&nbsp;
                                    <p>
                                    </p>
                                    <div style="text-align: center;"><img alt="" src="~/Assets/pages/Data/Sites/1/media/hinhanh/quytrinh.jpg" style="line-height: 1.42857; width: 858px; height: 320px;" /></div>
                                    <strong>
                                        Bước 1:
                                    </strong>Đăng ký hồ sơ ứng viên&nbsp;<br />
                                    <strong>
                                        Bước 2:
                                    </strong>Sơ tuyển hồ sơ<br />
                                    <strong>
                                        Bước 3:
                                    </strong>Phỏng vấn trực tiếp (Có sự tham gia của Công ty tiếp nhận thực tập sinh tại Nhật Bản.<br />
                                    <strong>
                                        Bước 4:
                                    </strong>Hoàn thiện hồ sơ xin Visa nhập cảnh<br />
                                    <strong>
                                        Bước 5:
                                    </strong>Đào tạo và giáo dục định hướng &nbsp;<br />
                                    <strong>
                                        Bước 6:
                                    </strong>Xuất cảnh<br />
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                    <p>&nbsp;</p>
                                    <br />
                                </div>
                            </div>
                            <div class="social text-right clearfix mrb20">
                                <div class="face-like"><a class='fb-like' data-href='https://jvnet.vn/quy-trinh/quy-trinh-tuyen-dung-thuc-tap-sinh-lam-viec-tai-nhat-ban-cua-jvnet' data-send='false' data-layout='button_count' data-width='100' data-show-faces='false'></a></div>
                                <div class="fb-share-button" data-layout="button_count">
                                </div>
                                <div class="tweet"><a class='twitter-share-button' title='Tweet This' href='https://twitter.com/share' data-url='https://jvnet.vn/quy-trinh/quy-trinh-tuyen-dung-thuc-tap-sinh-lam-viec-tai-nhat-ban-cua-jvnet' data-text='Quy trình tuyển dụng thực tập sinh làm việc tại Nhật Bản của JVNET' data-count='horizontal'></a></div>
                                <div class="google"><div class='g-plusone' data-size='medium' data-count='true' data-href='quy-trinh-tuyen-dung-thuc-tap-sinh-lam-viec-tai-nhat-ban-cua-jvnet.html'></div></div>
                            </div>
                        </section>



                    </div>
                </div>
            </div>

        </div>
        <div id="ctl00_divRight" class="col-md-3 col-right">

            <div class='clearfix right-menu mrb20 Module Module-142'><div class='ModuleContent'></div></div><div class='clearfix mrb20 lien-ket Module Module-143'><div class='ModuleContent'><h2 class='module-title'>Liên kết</h2><a href="#" onclick="__callRegistryV3('')"><img alt="" src="~Assets/pages/Data/Sites/1/media/lien-ket/lien-ket-01.jpg" /></a><a href="http://jvb.com.vn/" target="_blank"><img alt="" src="~Assets/pages/Data/Sites/1/media/lien-ket/lien-ket-02.png" /></a></div></div><div class='clearfix mrb30 quy-trinh Module Module-144'>
                <div class='ModuleContent'>
                    <h2 class='module-title'>Quy trình</h2><table>
                        <tbody>
                            <tr>
                                <td>
                                    <em class="fa fa-newspaper-o"></em>
                                </td>
                                <td>
                                    <a href="/quy-trinh-tuyen-dung">Tìm hiểu về quy trình tuyển chọn, hồ sơ và thủ tục</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</main>

