
@{
    ViewBag.Title = "Vì sao chọn chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ctl00_divAlt1" class="altcontent1 container cmszone">
    <div class='row Module Module-141'>
        <ol class='breadcrumb'>
            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='https://jvnet.vn/' class='itemcrumb' itemprop='url'><span itemprop='title'>Trang chủ</span></a></li>
            <li itemscope itemtype='http://data-vocabulary.org/Breadcrumb'><a href='https://jvnet.vn/vi-sao-chon-chung-toi' class='itemcrumb active' itemprop='url'><span itemprop='title'>Vì sao chọn chúng tôi</span></a></li>
        </ol>
    </div>
</div>
<main class="main container">
    <section class="row">
        <div id="ctl00_divCenter" class="middle-fullwidth col-sm-12">
            <div class='Module Module-152'>
                <div class='ModuleContent'>
                    <div id="ctl00_mainContent_ctl00_ctl00_pnlInnerWrap">
                        <section class="job-detail">
                            <h1 class="title-page">Vì sao chọn chúng tôi</h1>
                            <div class="clearfix mrb20">
                                <img alt="" src="http://jvnet.vn/Data/Sites/1/media/hinhanh/img_6028.jpg" style="text-align: justify; float: right; width: 512px; margin: 5px;" class="up" />
                                <p style="text-align: justify;">Với tiêu chí luôn luôn cung cấp nguồn lao động có chất lượng cho đối tác, chủ sử dụng lao động cũng như cam kết đảm bảo mức<span style="line-height: 1.42857; text-align: left;">&nbsp;lương,&nbsp;</span><span style="line-height: 1.42857; text-align: left;">các quyền và lợi ích hợp pháp cho người lao động, JVNET&nbsp;</span><span style="line-height: 1.42857; text-align: left;">luôn cố</span><span style="line-height: 1.42857; text-align: left;">&nbsp;vươn lên những tầm cao mới, khẳng định được thương hiệu uy tín trong lĩnh vực cung ứng nguồn nhân lực.</span><span style="line-height: 1.42857; text-align: left;">&nbsp;gắng nỗ lực hết mình để làm hài lòng đối tác, cổ đông và người lao động. Đây cũng là cơ sở để JVNET&nbsp;</span><span style="line-height: 1.42857; text-align: left;">Là một trong những công ty hàng đầu trong lĩnh vực cung ứng nguồn lao động cho các đối tác ở Nhật Bản, Với những thành công mà JVNET đã đạt được trong 10 năm qua, JVNET tự hào là một địa chỉ</span><span style="line-height: 1.42857; text-align: left;">&nbsp;uy tín và đúng đắn cho người lao động. Sau đây là những lý do bạn nên chọn JVNET:</span></p>
                                <div>
                                    <p style="text-align: justify;">-&nbsp;<span style="line-height: 1.42857;">JVNET là công ty uy tín, là thương hiệu tin cậy cho người lao động&nbsp;</span></p>
                                    <p style="text-align: justify;">-&nbsp;<span style="line-height: 1.42857;">Đến với JVNET, người lao động sẽ được đào tạo trong một môi trường thân thiện, trang bị vật chất và cơ sở học đầy đủ. Đội ngũ giảng viên có nhiều kinh nghiệm với chuyên môn vững vàng và tận tâm trong việc đào tạo nguồn nhân lực.</span></p>
                                    <p style="text-align: justify;">-&nbsp;<span style="line-height: 1.42857;">JVNET luôn khai thác những đơn hàng có chất lượng nhằm mang đến cho người lao động những công việc có thu nhập cao, đảm bảo cuộc sống ổn định.</span></p>
                                    <p style="text-align: justify;">-&nbsp;<span style="line-height: 1.42857;">Luôn có những chính sách hỗ trợ cho người lao động khi làm việc tại Nhật Bản, luôn đồng hành cùng với người lao động trong mọi hoàn cảnh.&nbsp;</span></p>
                                    <p style="text-align: justify;">-&nbsp;<span style="line-height: 1.42857;">JVNET luôn cam kết đảm bảo sẽ giới thiệu việc làm cho người lao động sau khi về nước.&nbsp;</span></p>
                                    <div style="text-align: justify;"><span style="line-height: 1.42857;">Với phương châm “Tận tâm phục vụ để mang đến những chất lượng hoàn hảo cho người lao động”, JVNET tự hào là cầu nối tin cậy, đáp ứng mọi nhu cầu về việc làm cho người lao động.</span></div>
                                </div>
                                <div style="text-align: justify;">
                                    <br />
                                </div>
                            </div>
                            <div class="social text-right clearfix mrb20">
                                <div class="face-like"><a class='fb-like' data-href='https://jvnet.vn/vi-sao-chon-chung-toi/vi-sao-chon-chung-toi-1' data-send='false' data-layout='button_count' data-width='100' data-show-faces='false'></a></div>
                                <div class="fb-share-button" data-layout="button_count">
                                </div>
                                <div class="tweet"><a class='twitter-share-button' title='Tweet This' href='https://twitter.com/share' data-url='https://jvnet.vn/vi-sao-chon-chung-toi/vi-sao-chon-chung-toi-1' data-text='Vì sao chọn chúng tôi' data-count='horizontal'></a></div>
                                <div class="google"><div class='g-plusone' data-size='medium' data-count='true' data-href='https://jvnet.vn/vi-sao-chon-chung-toi/vi-sao-chon-chung-toi-1'></div></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>

    </section>
</main>
